.col-md-6.col-md-offset-2
  p id="notice" = notice
  - provide(:title, @article.title)

  p
    h4 #{@article.title}

  p 
    h6
      small
        | 作者 #{@article.user.name}
        br
        | 亂數 #{@article.get_random_string}
        br
        | 發表於 #{@article.publish_at}

  p #{@article.content.html_safe}

  p

  = link_to "修改", edit_article_path(@article), class: "btn"

  h3 留言
  
  - @comments.each do |c|
    div
      strong 
        = c.name
      br
      p 
        = c.content

  = paginate @comments
  = render "comments/form"

  = link_to "回到所有文章", articles_path, class: "btn"
