h1 修改產品組合

= simple_form_for(@product_group, html: {class: 'form-horizontal center' }) do |f|
  = render :partial => 'form', :locals => { :f => f }

= link_to '顯示產品組合', @product_group, class: "btn"
= link_to 'Back', product_groups_path, class: "btn"
