h1 新增產品組合

= simple_form_for(@product_group, html: {class: 'form-horizontal center' }) do |f|
  = render :partial => 'form', :locals => { :f => f }

= link_to 'Back', product_groups_path, class: "btn"
